.android-medium {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 777px;
  min-height: 1426px;
  position: relative;
}

.android-medium .gemini-generated {
  position: absolute;
  top: 0;
  left: 0;
  width: 777px;
  height: 1426px;
  aspect-ratio: 0.54;
}

.android-medium .text-wrapper {
  position: absolute;
  top: 858px;
  left: 309px;
  font-family: "Londrina Shadow-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.android-medium .div {
  position: absolute;
  top: 385px;
  left: -120px;
  width: 754px;
  font-family: "Love Ya Like A Sister-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  text-align: right;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.android-medium .LOGO {
  position: absolute;
  top: 359px;
  left: 0;
  width: 106px;
  height: 110px;
  aspect-ratio: 1;
}

.android-medium .whatsapp-image {
  position: absolute;
  top: 73px;
  left: 51px;
  width: 656px;
  height: 98px;
  aspect-ratio: 6.67;
  object-fit: cover;
}

.android-medium .form-log-in {
  display: flex;
  flex-direction: column;
  width: 371px;
  height: 379px;
  align-items: flex-start;
  gap: var(--size-space-600);
  padding: var(--size-space-600);
  position: absolute;
  top: 727px;
  left: 203px;
  background-color: #ffffff4c;
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: #000000c4;
}

.android-medium .input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.android-medium .label {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.android-medium .input {
  display: flex;
  min-width: 120px;
  align-items: center;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.android-medium .text-wrapper-2 {
  position: relative;
  flex: 1;
  margin-top: -0.50px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-tertiary);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.android-medium .button-group {
  display: flex;
  align-items: center;
  gap: var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.android-medium .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.android-medium .button-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.android-medium .text-link {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -22.00px;
}

.android-medium .text-link-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  white-space: nowrap;
  font-style: var(--heading-font-style);
}
